.page {
  width: 100%;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  gap: 20px;
  ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    li {
      a {
        svg {
          width: 32px;
          path {
            transition: fill 0.2s;
            fill: #319795;
          }
          &:hover {
            path {
              fill: #2C7A7B;
            }
          }
        }
      }
    }
  }
}
