.page {
  width: 100%;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  gap: 20px;
  ul {
    list-style: none;
    display: grid;
    gap: 12px;
    li {
      h2 {
        font-size: 24px;
      }
    }
  }
}
